In [7]:
import great_expectations as ge

In [11]:
import os
os.getcwd()

'/mnt/d/local-repo-github/enr_portfolio_modeling/src/validation/great_expectations_dir/great_expectations/uncommitted'

In [14]:
df_asset = ge.read_csv('/mnt/d/local-repo-github/enr_portfolio_modeling/src/validation/great_expectations_dir/data/asset.csv')
df_asset.head(2)

,id,asset_id,projet_id,projet,technologie,cod,mw,taux_succès,puissance_installée,eoh,date_merchant,date_dementelement,repowering,date_msi,en_planif,p50,p90
0,1,1,ALBE,Ally Bessadous,éolien,2005-12-25,8.70,1.0,8.70,1715.3846,2020-12-24,2028-06-30,Oui,2028-12-31,Non,18896.8315,17230.294823
1,2,2,ALME,Ally Mercoeur,éolien,2005-12-25,5.74,1.0,5.74,1715.3846,2020-12-25,2028-06-30,NaN,2028-12-31,Non,12584.1223,11474.311788

In [15]:
df_asset.expect_column_values_to_not_be_null(['asset_id', 'projet_id'])

{
  "success": false,
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 293,
    "unexpected_count": 2,
    "unexpected_percent": 0.3412969283276451,
    "unexpected_percent_total": 0.6825938566552902,
    "partial_unexpected_list": []
  }
}

In [16]:
df_asset.expect_column_distinct_values_to_be_in_set('technologie', ['éolien', 'solaire'])

{
  "success": true,
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "observed_value": [
      "solaire",
      "\u00e9olien"
    ],
    "element_count": 293,
    "missing_count": null,
    "missing_percent": null
  }
}